<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Docker_Sel_Simple_Script-master/src/main/java/seleniunInDocker/UploadFileTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="seleniunInDocker.UploadFileTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Docker_Sel_Simple_Script-master"/>
</launchConfiguration>
